
/* .title{
    margin-top:-5%;
    
} */
.mb{
    /* margin-top:-5%; */
    margin-left:3%;
}
h2{
    /* margin-top:-1%; */
    text-align:center;
    /* color:#1E90FF; */
    /* margin-left:5%; */
    /* font-family: "Times New Roman", Times, serif; */
    font-weight: bold;
    font-size:30pt;
}
.nav{
    display: flex;
    justify-content: center;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    text-decoration:none;
    padding:15px;
    padding-right:40px;
    color:#bf5700;
    /* font-family: "Times New Roman", Times, serif; */
}
.nav a:hover {
    color:#bf5700;
    font-weight: bold;
}
i{  margin-top:7%;
    margin-right:3%;
    color:#bf5700;
    opacity:50%;

}

hr{
    margin-top:10%;
    width:50%;
    color:#bf5700;
    margin:auto;
}
h6{
    font-size:13pt;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.6;
}
p{  
    font-size:12pt;
    font-family: "Times New Roman", Times, serif;

}

.profile{
    /* border: 1px green solid; */
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    width:860px;

}
.profileimage{
    /* border: 1px green solid; */
    float:left;
    width:340px;
}

.profiledes{
    /* border: 1px green solid; */
    float:left;
    width:520px;
}


.social{
    font-family: 'Times New Roman', Times, serif;
}
/* .navbar{
    visibility: hidden;
}
.profile{
    visibility: hidden;
} */


input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the container for inputs */
  #container {
    background-color: #f1f1f1;
    padding: 20px;
    width:80%;
    margin:10%;
  }
  @media only screen and (max-width: 1300px) {
    .profileimage{
        /* margin-top:5%; */
        margin-left:25%;
        margin-bottom:2%;
        float:none;
        width: 20%;
        display:block;
    }
    .profiledes{
        float:none;
        /* margin-top:5%; */
        /* visibility:hidden; */
        margin-left:22%;
        width: 50%;
        display:block;
        /* padding-left:4%; */
    }
  }