.navbar-brand{
    margin-left:3%;
    margin-right:25%;
}
.nav-item{
    padding-right:40%;
}
.profile{
    float:left;
    display:inline-block;
}
.profileimage{
    margin-top:5%;
    margin-left:4%;
    float:left;
    width: 20%;
    display:block;
}

.profiledes{
    margin-top:5%;
    margin-right:10%;
    padding-left:10%;
}

.navbar{
    visibility: hidden;
}
.profile{
    visibility: hidden;
}


input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Style the container for inputs */
  #container {
    background-color: #f1f1f1;
    padding: 20px;
    width:80%;
    margin:10%;
  }