
.mb-3{
    margin-left:3%;
    margin-right:5%;
    margin-top:2%;
    width:100%;
    height:20%;
}

.research{
    margin-top:2%;
}
.col-md-2{
    width:40%;
    height:auto;
    display:block;
}
/* .paperimg{
    width:20%;
    height:20%;
} */
.col-md-8{
    width:60%;
}
.papertitle{
    color:#bf5700;
    text-decoration: underline #bf5700;
    
}
.papertitle:hover{
    color:#bf5700;
}

.card-title:hover {
    /* color:#bf5700; */
    /* font-weight:bolder; */
}
h5{
    font-family: "Times New Roman", Times, serif;
}

h6{
    font-family: "Times New Roman", Times, serif;
}


.card-title2:hover {
    color:#bf5700;
    /* font-weight:bolder; */
}

