.mb-3{
    margin-top:2%;
    /* margin-left:3%;
    margin-right:5%;
    width:100%;
    height:30%; */
}
.col-md-2{
    /* border: 1px green solid; */
}
.col-md-5{
    /* border: 1px green solid; */
    padding-left:5%;
}

.research{
    margin-top:5%;
}
.card-body{
    padding:0;
    margin-top:0;
    margin-left:5%;
    margin-right:3%;
}




h5{
    font-family: Lato, sans-serif;
}

p{
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8em;
    font-size: 14px;
    text-transform: none;

}


.card-title2:hover {
    opacity:80%;
}