
.mb-3{
    margin-left:3%;
    margin-right:5%;
    margin-top:3%;
    width:100%;
    height:220px;
}

.research{
    margin-top:2%;
}

.papertitle{
    color:#bf5700;
    text-decoration: underline #bf5700;
}
.card-title:hover {
    color:#bf5700;
    font-weight:bolder;
}
h5{
    font-family: "Times New Roman", Times, serif;
}

.card-title2:hover {
    color:#bf5700;
    font-weight:bolder;
}