.teaching{
margin-top:15%;
}

.teaching ul{
   margin:auto;
   width: 50%;
   list-style-type: none;
}

h6{
    text-decoration:none;
    font-size: 13px;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right:50px;
    color:black;
    font-family:'proxima-nova', sans-serif;
    font-weight:600;
}
.teaching li{
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8em;
    font-size: 14px;
    text-transform: none;


}



.teaching{
    /* border: 1px green solid; */
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    width:1300px;
}