.teaching{
    margin-top:5%;
}

.teaching ul{
   margin:auto;
   width: 50%;
   list-style-type: none;
}

h6{
    color:#bf5700;
    font-weight: bold;
}
.teaching li{
    font-family: "Times New Roman", Times, serif;
    font-size:13pt;
}
ul hr{

    width:50%;

}


  .teaching{
      margin-top:2%;
  }